extends layout

block content
  // put the locale source array in a usable format across jade compiler and js interpreter
  script
    var localeSrc = new Array();
  each loc in localeSrc
    script
      localeSrc.push(!{loc});

  script
    function updateLocales(index) {
      var locSel = document.getElementById('locale');

      // remove all existing options
      while( locSel.length) locSel.remove(0);
      
      // add new options based on world selection
      var arr = localeSrc[index];
      for( var i=0;i<arr.length;i++) {
        var opt = document.createElement('option');
        opt.value = arr[i];
        opt.innerHTML = arr[i];
        locSel.appendChild(opt);
      }
    }

  mixin optionFactory(n,def)
    option(value=n,selected=n==def) #{n}

  p
    | Choose the location of your character's birth. Birth location determines
    | possible genetic and cybernetic modification available.

    form(action="/createwizhome", method="POST")
      fieldset
        legend Choose Homeworld
        p
          label(for="world") World
          select(name="world", id="world",onchange="updateLocales(this.selectedIndex)")
            each worldBody in worldSrc
              mixin optionFactory(worldBody,defaultWorld)
        p
          label(for="locale") Locale
          select(name="locale", id="locale")
            // set the planetary locales for the default selection
            index = worldSrc.indexOf(defaultWorld)
            each loc in homelands[index].locales
              mixin optionFactory(loc,'')
        p
          button Next
