extends layout

block content
  #containerDiv
    img.backImage(src="/images/transhuman-peacock-dancer.jpg") 
    #navBar
      redirectRoot = '/character/' + character._id
      a(href=redirectRoot)
        button.leftNavButton Done
      p Humanity
      button.rightNavButton(id="editButton") Edit
    #contentArea
      div.dataEntry
        p.explanatoryHeading
          | That special sauce that makes us human, if it exists.
        redirectRoot = '/character/' + character._id + '/humanity'
        form#professionForm(action=redirectRoot, method="POST")
          fieldset
            p
              label(for="level") Level: 
              div.numberInput
                input(name="level", type="number", disabled="true", required="required", min="0", step="1", value="#{character.humanity}")

  script
    $(document).ready( function() {
        var postURL = '/character/' + '#{character._id}' + '/humanity';

        $('#editButton').click( function() {
            if( $('#editButton').text() == 'Edit') {
                $('input').prop('disabled', false);
                $('#editButton').text('Save');
            } else {
                $('input').prop('disabled', true);
                $('#editButton').text('Edit');

                var data = { level: $('input[name="level"]').val() };
                $.post( postURL, data);
            }
        });
    });