extends layout

block content
  #containerDiv
    img.backImage(src="/images/transhuman-peacock-dancer.jpg") 
    #navBar
      p Sign In
    #contentArea
      div.dataEntry
        form( action="/login", method="POST")
          fieldset
            p
              label Email: 
              if( signupEmail)
                input( name="user[email]", type="text", size="17", value=signupEmail)
              else
                input( name="user[email]", type="text", size="17")
            p
              label Password: 
              input( name="user[password]", type="password", size="12")
            p
              button#signInButton Sign In
        #newAccount
            a( href="/signup") Need an account?