extends layout

block content
  #navBar
    p Sign In
  #contentArea
    .dataEntry
      form( action="/login", method="POST")
        fieldset
          p
            label(for="user[email]") Email
            if( signupEmail)
              input( name="user[email]", type="email", required="required", size="22", value=signupEmail)
            else
              input( name="user[email]", type="email", required="required", size="22", placeholder="username@domain.com")
          p
            label(for="user[password]") Password
            input( name="user[password]", type="password", size="15", required="required")
          p
            button.rightForm Sign In
          #newAccount
            a( href="/signup") Need an account?