extends layout

block content
  #containerDiv
    img.backImage(src="/images/transhuman-peacock-dancer.jpg") 
    #navBar
      p Sign In
    #contentArea
      div.dataEntry
        form( action="/login", method="POST")
          fieldset
            p
              label Email:
              div.textInput
                if( signupEmail)
                  input( name="user[email]", type="text", value=signupEmail)
                else
                  input( name="user[email]", type="text")
            p
              label Password: 
              div.textInput
                input( name="user[password]", type="password", size="15")
            p
              button.rightForm Sign In
        #newAccount
            a( href="/signup") Need an account?