extends layout

block content
  #navBar
    redirectRoot = '/character/' + character._id
    p Details
    a(href=redirectRoot)
      button.leftNavButton Done
    a(href='#')
      button.rightNavButton(id="save") Save
  #contentArea
    .dataEntry
      redirectRoot = '/character/' + character._id + '/name'
      form(action=redirectRoot, method="POST")
        fieldset
          p
            input(name="nameTE", type="text", size="23", required="required", value="#{character.name}")

  script
    $(document).ready( function() {
        $('#save').click( function() {
            $('form').submit();
        });
    });