extends layout

block content
  #contentDiv
    img.backImage(src="/images/transhuman-peacock-dancer.jpg") 
    #navBar
      a(href="/")
        button.leftNavButton Cancel
      p Sign Up
    #contentArea
      div.dataEntry
        form( action="/signup", method="POST")
          fieldset
            p
              label First:
              div.textInput
                input( name="user[first]", type="text")
            p
              label Last:
              div.textInput
                input( name="user[last]", type="text")
            p
              label Email:
              div.textInput
                input( name="user[email]", type="text")
            p
              label Password:
              div.textInput
                input( name="user[password]", type="password", size="14")
            p
              button.rightForm Submit
        