extends layout

block content
  #navBar
    p Sign Up
    a(href="/")
      button.leftNavButton Cancel
  #contentArea
    .dataEntry
      form( action="/signup", method="POST")
        fieldset
          p
            label(for="user[email]") Email
            input( name="user[email]", type="email", required="required", size="22", placeholder="username@domain.com")
          p
            label(for="user[password]") Password
            input( name="user[password]", type="password", size="14", required="required", placeholder="password")
          p
            label(for="verifyPassword") Verify Password
            input( name="verifyPassword", type="password", size="14", required="required", placeholder="password")
          p
            button.rightForm Submit
        