extends layout

block content
  #toolBar
    a(href="/logout") Logout
    h1 Character Pool
      a(href="/wizard/choosehomeland") +
  #charPool
    ul.charMenu
      each character in characters
        li: <a href="/character/#{character._id}">#{character.name}</a>