extends layout

block content
  #containerDiv
    img.backImage(src="/images/transhuman-peacock-dancer.jpg") 
    #navBar
      a(href="/logout")
        button.leftNavButton Logout
      p Character Pool
      a(href="/wizard/choosehomeland")
        button.rightNavButton New
    #contentArea
      ul.listItems
        each character in characters
          li.listItem: <a href="/character/#{character._id}"><strong>#{character.name}</strong></a>