extends layout

block content
  #containerDiv
    img.backImage(src="/images/transhuman-peacock-dancer.jpg") 
    #navBar
      a(href="/logout")
        button.leftNavButton Logout
      p Character Pool
      a(href="/wizard/choosehomeland")
        button.rightNavButton New
    #contentArea
      ul.optionList
        each character in characters
          li
            redirectRoot = '/character/' + character._id
            a.optionItem(href=redirectRoot)
              div
                p.optionLabel #{character.name}
