extends layout

block content
  #navBar
    p Characters
    a(href="/wizard/choosehomeland")
      button.rightNavButton New
  #contentArea
    ul.displayList
      each character in characters
        li
          redirectRoot = '/character/' + character._id
          a.displayItem(href=redirectRoot)
            div
              p.displayLabel #{character.name}
              p.displayDesc #{character.profession.name}
