extends layout

block content
  #navBar
    p Profession
    a#cancelButton(href="/wizard/cancel")
      button.leftNavButton Cancel
    a#nextButton
      button.rightNavButton Next
  #contentArea
    div.dataEntry
      p.explanatoryHeading
        | Choose the profession and specialization of your character. This
        | determines at what skills the character is proficient.
      form(action="/wizard/chooseprofession", method="POST")
        fieldset
          p
            label(for="prof") Profession
            select(name="prof", id="prof")
              each profession in professions
                option(name=profession.name) #{profession}
          p
            label(for="specialty") Specialty
            input(name="specialty", type="text", size="21")

  script
    $(document).ready( function() {
        $('#nextButton').click( function() {
            $('form').submit();
        });
    });