extends layout

block content
  #containerDiv
    img.backImage(src="/images/transhuman-peacock-dancer.jpg") 
    #navBar
      a#cancelButton(href="/wizard/cancel")
        button.leftNavButton Cancel
      p Statistics
    #contentArea
      div.dataEntry
        p.explanatoryHeading
          | What is the balance of Soma and Nous?
          | The more extreme the higher your humanity.
        form(action="/wizard/choosestats", method="POST")
          fieldset
            div.rangeInput
              h1#score(class="centered") 5/5
              input(type="range", name="soma", min="1", max="9", step="1", value="5", id="soma")
              p.leftLabel Nous
              p.rightLabel Soma
            br
            p#humanityExplanation
              | Humanity measures how much of your mortal coil
              | remains after cybernetic or genetic augmentation.
              h1#humanityScore(class="centered") 5
            p
              button.rightForm Next

  script
    $(document).ready( function() {
        function updateHumanity() {
            // set humanity score
            var s = parseInt( $('#soma').val());
            var n = 10 - s;
            var v = (s>n)?s:n;
            
            $('#humanitySlider').val(v);
            $('#humanityScore').replaceWith("<h1 id='humanityScore' class='centered'>" + v + "</h1>");

            // set stat score
            var str = n.toString() + '/' + s.toString();
            $('#score').replaceWith("<h1 id='score' class='centered'>" + str + "</h1>");
        }
        
        $('#soma').change(function() {updateHumanity();});
    });