extends layout

block content
  #navBar
    p Details
    a(href="/")
      button.leftNavButton Cancel
    a#nextButton
      button.rightNavButton Next
  #contentArea
    div.dataEntry
      form(action="/wizard/choosedetails", method="POST")
        fieldset
          p
            label(for="characterName") Name:
            input(name="characterName", type="text", size="23", required="required")
          p
            label(for="nous") Nous: (#{nous})
            input(name="nous", type="text", size="23", required="required", placeholder="Descriptive Word")
          p
            label(for="soma") Soma: (#{soma})
            input(name="soma", type="text", size="23", required="required", placeholder="Descriptive Word")

  script
    $(document).ready( function() {
        $('#nextButton').click( function() {
            $('form').submit();
        });
    });