extends layout

block content
  #containerDiv
    img.backImage(src="/images/transhuman-peacock-dancer.jpg") 
    #navBar
      a#cancelButton(href="/wizard/cancel")
        button.leftNavButton Cancel
      p Homeland
      button#nextButton(class="rightNavButton") Next
    #contentArea
      div.dataEntry
        p.explanatoryHeading
          | Choose the location of your character's birth. Birth location determines
          | possible genetic and cybernetic modification available.
        form(action="/wizard/choosehomeland", method="POST")
          fieldset
            a#detailsLink(href='#')
              img(src="/images/Alarm-Info-icon.png")
            br
            p
              label(for="world") World:
              div.styledSelect
                select(name="world", id="world")
            p
              label(for="locale") Locale: 
              div.styledSelect
                select(name="locale", id="locale")

  script
    $(document).ready( function() {
        function updateLocales() {
            $("#world option:selected").each(function() {
                // only one should be here
                $('#locale').empty();
                socket.emit('locales', this.value, function(data) {
                    for( i=0;i<data.length;i++) {
                        opt = $("<option></option>")
                        .attr("value",data[i].name)
                        .text(data[i].name)
                        .attr("selected",data[i].name==#{defaultHomeland});
                        $('#locale').append(opt);
                    }
                });
            });
        }
        
        var socket = io.connect('http://localhost');
        socket.on('connected', function () {
            socket.emit('worlds', function (data) {
                for( var i=0;i<data.length;i++) {
                    var opt = $("<option></option>")
                        .attr("value",data[i].name)
                        .text(data[i].name)
                        .attr("selected",data[i].name==#{defaultWorld});
                    $('#world').append(opt);
                }

                updateLocales();
            });
        });
        
        $('#world').change(function() {updateLocales();});
        $('#detailsLink').click( function() {
            var detailURL = '/wizard/choosehomeland/'
                            + $('#world option:selected').text()
                            + '/' + $('#locale option:selected').text();
            $(this).attr('href', detailURL);
        });
        $('#nextButton').click( function() {
            $('form').submit();
        });
    });