extends layout

block content
  form(action="/wizard/chooseprofession", method="POST")
    fieldset
      legend Choose Profession
      p
        label(for="prof") Profession
        select(name="prof", id="prof")
          each profession in professions
            option(name=profession.name) #{profession}
      p
        label Specialty
        input(name="specialty", type="text")
      p
        button Next
