body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.expensiveMod {
  color: #CCCCCC;
}

.prohibitedMod {
  color: #FF3300;
}

.selectedMod {
  color: #FFB700;
}