body {
    overflow: hidden;
    background-image: url('/images/davinci_transhuman_640x1136_blurred.gif');
    background-size: cover;
    font: sans-serif;
}

/*

color values:
medium blue: #4177A6 rgb(65,119,166)
sea green: #63BFAE rgb(99,191,174)
medium brown: #A68953 rgb(166,137,83)
light brown: #D9B589 rgb(217,181,137)
salmon: #F2B6A0 rgb(242,182,160)

*/

@media only screen {
    button {
        float: left;
        border-top: 1px solid #63bfae;
        background: #63bfae;
        background: -webkit-gradient(linear, left top, left bottom, from(#4177a6), to(#63bfae));
        background: -webkit-linear-gradient(top, #4177a6, #63bfae);
        background: -moz-linear-gradient(top, #4177a6, #63bfae);
        background: -ms-linear-gradient(top, #4177a6, #63bfae);
        background: -o-linear-gradient(top, #4177a6, #63bfae);
        padding: 6px 10px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
        -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
        box-shadow: rgba(0,0,0,1) 0 1px 0;
        text-shadow: rgba(0,0,0,.4) 0 1px 0;
        color: #000000;
        font-size: 18px;
        vertical-align: middle;
	}
	button:hover {
        border-top-color: #4177a6;
        background: #4177a6;
        color: #d9b589;
    }
	button:active {
        border-top-color: #5295cc;
        background: #5295cc;
    }
	button:disabled {
        border-top-color: #5295cc;
        background: #5295cc;
    }

    label {
        float: left;
        font-size: 24px;
        line-height: 40px;
        padding-right: 12px;
    }
    
    input[type='email'],
    input[type='password'],
    input[type='text'] {
        line-height: 24px;
        font-size: 20px;
        border: 1px solid;
    }
    input[type='number'] {
        line-height: 24px;
        font-size: 20px;
        border: 1px solid;
        width: 48px;
        margin-top: 5px;
    }
    input[type='date'] {
        line-height: 24px;
        font-size: 20px;
        border: 1px solid;
    }
    textarea {
        resize: none;
        margin-left: 5%;
        width: 90%;
        font-size: 20px;
        border: 1px solid;
    }

    a {
        font-size: 24px;
        line-height: 40px;
    }
    a:link {color:#4177A6;}      /* unvisited link */
    a:visited {color:#A68953;}  /* visited link */
    a:hover {color:#A68953;}  /* mouse over link */
    a:active {color:#A68953;}  /* selected link */

    fieldset {
        border-style:none;
        padding: 0;
    }
    
    p {
        margin-left: 6px;
    }
    
    select {
        border-top: 1px solid #63bfae;
        background: #63bfae;
        background: -webkit-gradient(linear, left top, left bottom, from(#4177a6), to(#63bfae));
        background: -webkit-linear-gradient(top, #4177a6, #63bfae);
        background: -moz-linear-gradient(top, #4177a6, #63bfae);
        background: -ms-linear-gradient(top, #4177a6, #63bfae);
        background: -o-linear-gradient(top, #4177a6, #63bfae);
        width: 170px;
        font-size: 18px;
        line-height: 30px;
        margin-top: 5px;
    }

    #navBar {
		width: 100%;
        height: 42px;
		position: fixed;
		top: 0;
		left: 0;
		background: -webkit-linear-gradient(270deg,rgba(217,181,137,0.6) 0%,rgba(65,119,166,0.6) 100%);
	}

    #navBar p {
        position: absolute;
		width: 100%;
		text-align: center;
        font-size: 24px;
        line-height: 40px;
        font-weight: bold;
        margin: 0;
	}
    
    #navBar button {
        height: 85%;
        margin-top: 2px;
        margin-right: 4px;
    }
    .leftNavButton {
        position: absolute;
        left: 2px;
    }
    .rightNavButton {
        position: absolute;
		right: 0;
    }

    #contentArea {
        position: relative;
        top: 42px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .dataEntry {
		background: rgba(99,191,174,0.3);
		border: 1px solid rgb(65,119,166);
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        min-height: 48px;
    }

    .dataDisplay {
		background: rgb(137, 159, 161);
		border: 1px solid rgb(65,119,166);
		opacity: 0.7;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        min-height: 48px;
    }

    .displayList {
        left: 5%;
        right: 5%;
        list-style: none;
        padding: 0;
    }
    .displayList li {
		background: rgba(242,182,160,0.5);
		border: 1px solid rgb(65,119,166);
        overflow:hidden;
        word-break: break-all;
        height: 60px;
    }
    .displayList li:first-child {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
    }
    .displayList li:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .displayLabel {
        float: left;
        padding-left: 6px;
        font-size: 24px;
        font-weight:bold;
        line-height: 58px;
        color:#000000;
        margin: 0;
    }
    .displayDesc {
        float: right;
        padding-right: 8px;
        color: rgb(65,119,166);
        font-size: 18px;
        line-height: 58px;
        margin: 0;
    }
    .displayList li:hover { color:rgb(242,182,160); background: rgb(65,119,166)}
    .displayList li:active { color:rgb(242,182,160); background: rgb(166,137,83)}

    .optionList {
        left: 5%;
        right: 5%;
        list-style: none;
        padding: 0;
    }
    .optionList label {
        font-weight: bold;
        text-align:center;
        width: 100%;
        font-size: 24px;
    }
    .optionItem {
		background: rgba(242,182,160,0.5);
		border: 1px solid rgb(65,119,166);
        overflow:hidden;
        word-break: break-all;
        height: 60px;
    }
    .optionItem:first-child {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
    }
    .optionItem:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .optionLabel {
        float: left;
        padding-left: 6px;
        font-size: 24px;
        font-weight:bold;
        line-height: 58px;
        color:#000000;
        margin: 0;
    }
    .optionDesc {
        float: right;
        padding-right: 8px;
        color: rgb(65,119,166);
        font-size: 18px;
        line-height: 58px;
        margin: 0;
    }
    .optionItem:hover { color:rgb(242,182,160); background: rgb(65,119,166)}
    .optionItem:active { color:rgb(242,182,160); background: rgb(166,137,83)}
    .tooExpensiveItem {color: rgb(90,33,12); background: rgb(90,33,12)}
    .prohibitedItem { color: rgb(90,33,12); background: rgb(90,33,12)}
    .selectedItem { background: rgb(217,181,137)}

    .rangeInput {
        height: 110px;
    }
    .rangeInput label {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        padding-bottom: 5px;
    }
    input[type='range'] {
        width: 94%;
        -webkit-appearance: none !important;
        -webkit-border-radius: 5px;
        -webkit-box-shadow: inset 0 0 5px #333;
        background-color: rgb(65,119,166);
        height: 12px;
        margin-left: 3%;
    }
    .rangeLabels {
        width: 94%;
        height: 24px;
        font-size: 18px;
        margin-left: 3%;
    }
    .minLabel {
        float: left;
    }
    .maxLabel {
        float: right;
    }
    input[type='range']::-webkit-slider-thumb {
        height: 36px;
        width: 36px;
        -webkit-appearance: none !important;
        -webkit-border-radius: 10px;
        background-color: #4177a6;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#4177a6), to(#63bfae));
        border: 1px solid rgb(65,119,166);
    }

    .centered {
        text-align: center;
    }
    
    #amountOwned {
        text-align:right;
        padding-right: 8px;
        margin-top: 2px;
        font-weight: bold;
    }
    
    .splitP {
        width:100%;
        height: 48px;
        font-size: 24px;
        font-weight: bold;
        line-height: 0;
    }
    .leftP {
        float: left;
    }
    .rightP {
        float: right;
        padding-right: 2px;
    }
    
    #detailsLink img {
        float: right;
    }
