body {
    overflow: hidden;
    background-image: url('/images/transhumanism2_pixellated.gif');
    background-size: 100%;
    background-repeat: repeat-y;
    font: sans-serif;
}

/*

color values:
gray blue: #A9C6D9 rgb(169,198,217)
light green: #04D960 rgb(4,217,96)
emerald: #03A63C rgb(3,166,60)
dark green: #025920 rgb(2,89,32)
gray: #CCCCCA rgb(204,204,202)
invalid red: #590802 rgb(89,8,2)

*/

@media only screen {
    button {
        float: left;
        border-top: 1px solid #025920;
        background: #04d960;
        background: -webkit-gradient(linear, left top, left bottom, from(#03A63C), to(#04d960));
        background: -webkit-linear-gradient(top, #03a63c, #04d960);
        background: -moz-linear-gradient(top, #03a63c, #04d960);
        background: -ms-linear-gradient(top, #03a63c, #04d960);
        background: -o-linear-gradient(top, #03a63c, #04d960);
        padding: 6px 10px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
        -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
        box-shadow: rgba(0,0,0,1) 0 1px 0;
        text-shadow: rgba(0,0,0,.4) 0 1px 0;
        color: #000000;
        font-size: 18px;
        vertical-align: middle;
	}
	button:disabled {
        border-top-color: #444444;
        background: #CCCCCA;
    }

    label {
        float: left;
        font-size: 24px;
        line-height: 40px;
        padding-right: 12px;
    }
    
    input[type='email'],
    input[type='password'],
    input[type='text'] {
        line-height: 24px;
        font-size: 20px;
        border: 1px solid;
    }
    input[type='number'] {
        line-height: 24px;
        font-size: 20px;
        border: 1px solid;
        width: 48px;
        margin-top: 5px;
    }
    input[type='date'] {
        line-height: 24px;
        font-size: 20px;
        border: 1px solid;
    }
    textarea {
        resize: none;
        margin-left: 5%;
        width: 90%;
        font-size: 20px;
        border: 1px solid;
    }

    a {
        font-size: 24px;
        line-height: 40px;
    }
    a:link {color:#A9C6D9;}      /* unvisited link */
    a:visited {color:#03A63C;}  /* visited link */
    a:hover {color:#03A63C;}  /* mouse over link */

    fieldset {
        border-style:none;
        padding: 0;
    }
    
    p {
        margin-left: 6px;
    }
    
    select {
        border-top: 1px solid #025920;
        background: #04d960;
        background: -webkit-gradient(linear, left top, left bottom, from(#03A63C), to(#04d960));
        background: -webkit-linear-gradient(top, #03a63c, #04d960);
        background: -moz-linear-gradient(top, #03a63c, #04d960);
        background: -ms-linear-gradient(top, #03a63c, #04d960);
        background: -o-linear-gradient(top, #03a63c, #04d960);
        width: 170px;
        font-size: 18px;
        line-height: 30px;
        margin-top: 5px;
    }

    #navBar {
		width: 100%;
        height: 42px;
		position: absolute;
		top: 0;
		left: 0;
		background: -webkit-linear-gradient(270deg,rgba(169,198,217,0.6) 0%,rgba(204,204,202,0.6) 100%);
	}

    #navBar p {
        position: absolute;
		width: 100%;
		text-align: center;
        font-size: 24px;
        line-height: 40px;
        font-weight: bold;
        margin: 0;
	}
    
    #navBar button {
        height: 85%;
        margin-top: 2px;
        margin-right: 4px;
    }
    .leftNavButton {
        position: absolute;
        left: 2px;
    }
    .rightNavButton {
        position: absolute;
		right: 0;
    }

    #contentArea {
        position: relative;
        top: 42px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .dataEntry {
		background: rgba(169,198,217,0.7);
		border: 1px solid #025920;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        min-height: 48px;
    }

    .dataDisplay {
		background: rgba(169,198,217,0.7);
		border: 1px solid #025920;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        min-height: 48px;
    }

    .displayList {
        left: 5%;
        right: 5%;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .displayList li {
		background: rgba(3,166,60,0.3);
		border: 1px solid #025920;
        border-bottom: none;
        overflow:hidden;
        word-break: break-all;
        height: 60px;
    }
    .displayList li:first-child {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
    }
    .displayList li:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
		border-bottom: 1px solid #025920;
    }
    .displayLabel {
        float: left;
        font-size: 24px;
        font-weight:bold;
        line-height: 48px;
        margin: 0;
        color: #000000;
    }
    .displayDesc {
        float: right;
        line-height: 48px;
        color: #000000;
        font-weight:bold;
        margin: 0;
    }
    li a button {
        width: 100%;
        height: 60px;
        background: transparent;
        border-style: none;
        box-shadow: none;
        text-shadow: none;
	}
    .swipeButton {
        padding: 6px 10px;
        width: 100%;
        height: 60px;
    }        
    .deleteButton {
        float: right;
        position: relative;
        top: 2px;
        left: -14px;
        width: 80px;
        height: 42px;
        padding: 6px 10px;
        border-top: 1px solid #025920;
        background: #04d960;
        background: -webkit-gradient(linear, left top, left bottom, from(#03A63C), to(#04d960));
        background: -webkit-linear-gradient(top, #03a63c, #04d960);
        background: -moz-linear-gradient(top, #03a63c, #04d960);
        background: -ms-linear-gradient(top, #03a63c, #04d960);
        background: -o-linear-gradient(top, #03a63c, #04d960);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
        -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
        box-shadow: rgba(0,0,0,1) 0 1px 0;
        text-shadow: rgba(0,0,0,.4) 0 1px 0;
        color: #000000;
        font-size: 18px;
        vertical-align: middle;
    }
    .buttonOff {
        display: none;
    }

    .optionList {
        left: 5%;
        right: 5%;
        list-style: none;
        padding: 0;
    }
    .optionList label {
        font-weight: bold;
        text-align:center;
        width: 100%;
        font-size: 24px;
    }
    .optionItem {
		background: rgba(3,166,60,0.4);
		border: 1px solid #025920;
        border-bottom: none;
        overflow:hidden;
        word-break: break-all;
        height: 60px;
    }
    .optionItem:first-child {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
    }
    .optionItem:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
		border: 1px solid #025920;
        margin-bottom: 6px;
    }
    .optionLabel {
        float: left;
        font-size: 24px;
        font-weight:bold;
        line-height: 48px;
        margin: 0;
    }
    .optionDesc {
        float: right;
        color: #000000;
        font-weight:bold;
        line-height: 48px;
        margin: 0;
    }
    .tooExpensiveItem {background: rgba(89,8,2,0.7)}
    .prohibitedItem { background: rgba(89,8,2,0.7)}
    .selectedItem { background: rgba(204,204,202,0.7)}

    .rangeInput {
        height: 110px;
    }
    .rangeInput label {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        padding-bottom: 5px;
    }
    input[type='range'] {
        width: 94%;
        -webkit-appearance: none !important;
        -webkit-border-radius: 5px;
        -webkit-box-shadow: inset 0 0 5px #333;
        background-color: #025920;
        height: 12px;
        margin-left: 3%;
    }
    .rangeLabels {
        width: 94%;
        height: 24px;
        font-size: 18px;
        margin-left: 3%;
    }
    .minLabel {
        float: left;
    }
    .maxLabel {
        float: right;
    }
    input[type='range']::-webkit-slider-thumb {
        height: 36px;
        width: 36px;
        -webkit-appearance: none !important;
        -webkit-border-radius: 10px;
        background-color: #025920;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#03A63C), to(#04d960));
        border: 1px solid #025920;
    }

    .centered {
        text-align: center;
    }
    
    #amountOwned {
        text-align:right;
        padding-right: 8px;
        margin-top: 2px;
        font-weight: bold;
    }
    
    .splitP {
        width:100%;
        height: 48px;
        font-size: 24px;
        font-weight: bold;
        line-height: 0;
    }
    .leftP {
        float: left;
    }
    .rightP {
        float: right;
        padding-right: 2px;
    }
    
    .pageIndicator {
        position: fixed;
        left: -webkit-calc(50% - 32px); width: -o-calc(50% - 32px); width: -moz-calc(50% - 32px); width: calc(50% - 32px);
        bottom: 4px;
        max-width:64px;
		opacity: 0.7;
    }
    
    #detailsLink img {
        float: right;
    }
